<template>
   
      
    
    <div>

 <button  v-on:click="abrirCarro()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Ver carro
</button>

      <div class="container"  v-for="item in productos" >
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{item.nombre}}</div>

                    <div class="card-body">
                     <img :src=item.imagen alt="asd" height="200px">
                      <p>Descripcion : {{item.imagen}}</p>
                      <p>Descripcion : {{item.descripcion}}</p>
                      <p>Precio : {{item.precio}}</p>
                      <input v-bind:id="item.nombre" placeholder="cantidad" type="number">
                      <a  v-on:click="agregar(item,item.nombre)">
                        <img src="carrito.jpg" alt="carrito" height="50px">
                      </a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito Compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div v-for="item in compraProducto">
            <p>{{item.datos.nombre}}
            
              <a  v-on:click="disminuir(item)">
                        <img src="menos.png" alt="carrito" height="20px">
               </a>
            {{item.cantidad}}
            <a  v-on:click="aumentar(item)">
                <img src="mas.png" alt="carrito" height="30px">
             </a>
            </p>
           
        </div>
 <p>Valor a pagar = {{total}}</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
        <button type="button" class="btn btn-primary"  v-on:click="comprar()">Comprar</button>
      </div>
    </div>
  </div>
</div>
    
  </div>
</template>

<script>

import VModal from 'vue-js-modal'
 Vue.use(VModal);

  export default {
    name: 'ExampleModal',
    data: function() {
      return {
        time: 0,
        duration: 5000,
        productos:[],
        cantidadProducto:null,
        compraProducto:[],
        showModal: false,
        total:null

      };
    },
    props: [ "producto"],
    methods:{
        comprar(){
            var compra={'productos' :this.compraProducto,'total':this.total}
if( this.compraProducto.length >0){
            axios.post("/registrarCompra",compra).then((response) => {
             alert("su compra se efectuado con exito");
             this.compraProducto=[];
             this.total=null;
            })}
        },
        abrirCarro(){
            var total=0;
           this.compraProducto.forEach(function(element) {
             total += element.cantidad * element.datos.precio;
           });
           this.total=total;
        },
      agregar(itemProducto,nombre){

        var cantidad=document.getElementById(nombre).value
        var arrayDatosProdu ={'datos':itemProducto,'cantidad':cantidad}
        this.compraProducto.push(arrayDatosProdu)
         
       
      },
     beforeOpen (event) {
      console.log(event)
      this.time = Date.now()
    },
    beforeClose (event) {
      console.log(event)
      if (this.time + this.duration < Date.now()) {
        event.stop()
      }
  },aumentar(item){
    item.cantidad=parseInt(item.cantidad, 10)+1
    this.abrirCarro()
  },disminuir(item){
    item.cantidad=(item.cantidad-1)
    this.abrirCarro()
  }

    },
    mounted: function(){
     this.productos=this.producto
    },
  }
</script>
